@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  @apply box-border font-roboto;
}

/* layer components  */
@layer components {
  .container {
    @apply max-w-[1430px] mx-auto px-4;
  }
  .container-lg {
    @apply max-w-[1830px] m-auto px-[15px];
  }
  .text-regular {
    @apply font-medium text-[16px] font-roboto leading-8;
  }
  .section-spacing {
    @apply lg:py-[165px] md:py-[100px] xs:py-[60px] py-[50px];
  }

  .inline-reset {
    @apply no-underline list-none inline-block;
  }
  .heading {
    @apply font-medium font-roboto lg:text-[40px] md:text-[30px] text-[25px] md:leading-[52px] leading-[40px];
  }
  .heading-discription {
    @apply font-normal font-roboto lg:text-[17px] md:text-[14px] text-[12px] md:leading-8 leading-5;
  }
  .footer-container {
    @apply max-w-[1880px] w-full m-auto xxl:px-[100px] px-[30px];
  }
  .footer-links-heading {
    @apply font-medium text-[19px] leading-[19px] text-white/50;
  }

  /* swiper  */
  .RecomendedHomesSwiperBtn,
  .BestPropertiesSwiperBtn,
  .BestPropertiesSwiperBtn,
  .testimonialSwiperBtn {
    @apply pointer-events-auto bg-white border-1 border-white-secondary sm:w-[60px] sm:h-10 text-black flex items-center justify-center rounded-lg w-[40px] h-10;
  }
  .testimonialSwiperBtnH2 .testimonialSwiperBtn {
    @apply bg-transparent border-black;
  }
}

/* homepage-crousel  */
.swiper-pagination-bullet {
  background: black !important;
  width: 7px;
  height: 7px;
  position: relative;
  transition: 0.3s ease;
  margin: 0 10px !important;
}
.swiper-pagination-bullet-active::after {
  position: absolute;
  border-radius: 100px;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  border: 1px solid black;
  padding: 8px;
}

.swiper-pagination-bullets {
  position: static !important;
  padding-top: 60px;
}

@media screen and (max-width: 768px) {
  .swiper-pagination-bullet {
    margin: 0 7px;
  }
  .swiper-pagination-bullets {
    padding-top: 20px;
  }

  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
  }
  .swiper-pagination-bullet-active::after {
    width: 3px;
    height: 3px;
    padding: 7px;
  }
}

/* hero searchbar scrollbar  */
.scrl::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
